* {
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 250, 255)
}
h2{
    margin-top: 20px;
    color: rgba(3, 75, 75, .7);
    font-family: tahoma;
    text-align: center;
}
h3{
    margin: 0px;
}
h4{
    margin-top: 20px;
    text-align: center;
    color: rgba(252, 250, 135, 0.2)
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
}

section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #95DBE5FF;
    box-shadow: 0px 2px 1px #339E66FF;
    border-radius: 50px;
    height: 500px;
    width: 400px;
}

.questionbox {
    height:100px;
}

.timer {
    display: flex;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    justify-content: center;
}

#hide {
    display: none;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 350px;
}

.enterscore {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    color: rgb(0,0,0, .4)

}

.scoreboard{
    padding-top: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 4px;
    font-size: 22px;
    background-color: rgba(173, 200, 211, 0.2);
    line-height: 28px;
    box-shadow: 0px 2px 4px #339E66FF;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

button:hover{
    background-color: rgb(74, 170, 170, .9);
    cursor: pointer;

}

button {
    box-sizing: content-box;
    background: none;
    background-color: rgb(8, 131, 131, .9);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.start:hover {
    border: solid rgb(8, 131, 131, .3) 20px;
    background-color: rgb(168, 226, 235);
    color: rgb(255, 255, 255);
    text-shadow: none;
    cursor: pointer;
    text-shadow: 0px 1px 2px black;
}

.start {
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(215, 241, 255);
    border: solid rgb(8, 131, 131, .6) 30px; 
    border-radius: 50px;
    background-color: rgb(114, 195, 207);
}

li {
    list-style-type: none;
}

ol {
    height: 200px;
    padding: 0px;
    padding-top: 50px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    border-radius: 20px;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 25%;
    width: 50%;
}

.playAgain {
    margin-left: 25%;
    margin-right: 25%;
    display: none;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.submit {
    margin-left: 25%;
    margin-right: 25%;
    display: none;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    margin-bottom: 5px;
}